chat-option-container{
    display: flex;
    align-items:flex-start;
    flex-wrap: wrap;
}

chat-option-button{
    padding: 0.5rem;
    border-radius: 25px;
    background: transparent;
    border: 1px solid #02D8E9;
    margin: 3px;
}