body {
  display: flex;
  justify-content: center;
}
.h1{
  text-align: center;
}
.chatbot-container {
    width: 400px; 
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    margin: 20px;
    padding: 10px;
    background-color: #fff;
  }
  
  .chat {
    max-height: 300px; 
    overflow-y: auto;
    padding: 10px;
    border-bottom: 1px solid #ccc;
  }
  

  .chat-message {
    margin: 5px 0;
    padding: 5px;
    background-color: #f0f0f0;
    border-radius: 5px;
  }
  
  .user-input {
    display: flex;
    align-items: center;
    padding: 10px 0;
  }
  
  input[type="text"] {
    flex: 1;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 10px;
  }
  
  button {
    padding: 8px 16px;
    background-color: #02D8E9;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  